@import url(_vars.css);

nav {
    height: 91px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    place-items: center;
    font-size: 22px;
    font-style: normal;
    color: var(--blue);
    font-weight: 700;
}

.nav-left img {
    margin-left: 26px;
    margin-right: 6px;
}

.nav-right {
    margin-right: 27px;
    display: flex;
    justify-content: center;
    place-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: var(--light);
}
