@import url(_vars.css);

.main {
    color: var(--light);
    background-image: url(../assets/react-icon-large.png);
    background-repeat: no-repeat;
    background-position: right 75%;
    background-color: var(--dark-light);
    padding: 57px 27px;
}
.main-title {
    margin: 0;
    font-size: 39px;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.main-facts {
    margin-top: 46px;
    max-width: 400px;
}

.main-facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main-facts > li::marker {
    font-size: 1.6rem;
    color: var(--blue);
}
